$c-grey-dark: #777;
$c-red: #F44336;

body{
	position: relative;
	margin: 0;
	background-color: #eee;
}

*{
	color: $c-grey-dark;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p{
	font-size: 22px;
	margin-top: 10px;
	line-height: 1;
	font-weight: 300;
}

button{
	font-size: 22px;
	background-color: $c-red;
	color: #fff;
	padding: 10px 40px;
	cursor: pointer;
	margin-top: 20px;
	box-shadow: 0 3px 5px $c-grey-dark;
	border-radius: 1000px;
	transition: all 0.3s;
	border: 0;
	font-weight: 300;

	&:hover,
	&:focus{
		box-shadow: 0 5px 10px $c-grey-dark;
		background-color: #D32F2F;
		outline: 0;
		transform: translateY(-2px);
	}
}

section{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#vignette{
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	// box-shadow: inset 0 0 100px black;
	transition: box-shadow 1s;
	pointer-events: none;
}

.pulse{
	&1{
		// animation-name: pulse1;
		// animation-duration: 3s;
		// animation-iteration-count: infinite;
		box-shadow: inset 0 0 100px black;
	}

	&2{
		animation-name: pulse2;
		animation-duration: 3s;
		animation-iteration-count: infinite;
	}

	&3{
		animation-name: pulse2;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}
}

@keyframes pulse1 {
	0%{
		box-shadow: inset 0 0 100px black;
	}
	50%{
		box-shadow: inset 0 0 200px black;
	}
	100%{
		box-shadow: inset 0 0 100px black;
	}
}

@keyframes pulse2 {
	0% {
		box-shadow: inset 0 0 100px black;
	}

	50% {
		box-shadow: inset 0 0 200px black;
	}

	100% {
		box-shadow: inset 0 0 100px black;
	}
}

@keyframes pulse3 {
	0% {
		box-shadow: inset 0 0 100px black;
	}

	50% {
		box-shadow: inset 0 0 2000px black;
	}

	100% {
		box-shadow: inset 0 0 100px black;
	}
}

// @keyframes pulse2 {
// 	0% {
// 		box-shadow: inset 0 0 100px black;
// 	}

// 	25% {
// 		box-shadow: inset 0 0 200px black;
// 	}

// 	50% {
// 		box-shadow: inset 0 0 100px black;
// 	}

// 	100% {
// 		box-shadow: inset 0 0 100px black;
// 	}
// }

// @keyframes pulse3 {
// 	0% {
// 		box-shadow: inset 0 0 100px black;
// 	}

// 	25% {
// 		box-shadow: inset 0 0 1000px black;
// 	}

// 	50% {
// 		box-shadow: inset 0 0 100px black;
// 	}

// 	100% {
// 		box-shadow: inset 0 0 100px black;
// 	}
// }

// @keyframes pulse2 {
// 	0% {
// 		box-shadow: inset 0 0 100px black;
// 	}
// 	25%{
// 		box-shadow: inset 0 0 300px black;
// 	}
// 	50% {
// 		box-shadow: inset 0 0 100px black;
// 	}
// 	75% {
// 		box-shadow: inset 0 0 200px black;
// 	}
// 	100% {
// 		box-shadow: inset 0 0 100px black;
// 	}
// }

// @keyframes pulse3 {
// 	0% {
// 		box-shadow: inset 0 0 100px black;
// 	}

// 	25% {
// 		box-shadow: inset 0 0 300px black;
// 	}

// 	50% {
// 		box-shadow: inset 0 0 100px black;
// 	}

// 	75% {
// 		box-shadow: inset 0 0 200px black;
// 	}

// 	100% {
// 		box-shadow: inset 0 0 100px black;
// 	}
// }